<div class="font-bold text-emerlad text-l p-5 text-center bg-green-300 flex flex-row justify-between">
    <div class="flex flex-row justify-between w-1/6">
        <button><%= link_to "Home", articles_path %></button>
    </div>
    <div>
        <button class="pr-4 pl-4 bg-emerald-300 rounded-md ring-offset-2 ring-2"><%= link_to "Write a Review", new_article_path %></button>
    </div>
</div>